/*
* @Author: xw
* @Date:   2017-06-23 22:34:12
* @Last Modified by:   xw
* @Last Modified time: 2017-06-24 00:06:40
*/

.pg-content {
    text-align: center;
    color: #333;
}

.pg-content .pg-item {
    display: inline-block;
    height: 36px;
    line-height: 35px;
    padding: 0 15px;
    margin: 0 2px;
    border: 1px solid #ccc;
    background: #eee;
    cursor: pointer;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    user-select:none;
}

.pg-content .pg-item.disabled {
    color: #ccc;
    background: none;
    cursor: auto;
}

.pg-content .pg-item.active {
    border: 1px solid #f6f6f6;
    background: none;
    cursor: auto;
}

.pg-content .pg-total {
    margin-left: 10px;
    background: none;
    cursor: auto;
}
