<div class="footer">
    <div class="w">
        <div class="links">
            <a href="//www.google.com" class="link" target="_blank">谷歌</a>|
            <a href="//www.taobao.com" class="link" target="_blank">淘宝</a>|
            <a href="//www.baidu.com" class="link" target="_blank">百度</a>|
            <a href="//www.zhihu.com" class="link" target="_blank">知乎</a>
        </div>
        <p class="copyright">
            Copyright © 2017 happymall.shop All Right Reserved
        </p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.11.3/jquery.min.js">
</script>
