/*
* @Author: xw
* @Date:   2017-06-15 11:42:19
* @Last Modified by:   xw
* @Last Modified time: 2017-06-20 17:15:15
*/


/* css reset */

* {
    margin: 0;
    padding: 0;
}

body {
    background: #f6f6f6;
    font: 12px/1.5 tahoma, arial, Microsoft YaHei, sans-serif;
}

li {
    list-style: none;
}

img {
    display: block;
    border: none;
}

label {
    cursor: pointer;
}

input[type='checkbox'] {
    cursor: pointer;
}


/*定宽布局*/

.w {
    width: 1080px;
    margin: 0 auto;
    position: relative;
    /*避免外部框塌陷*/
    overflow: hidden;
}


/*panel*/

.panel {
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}

.panel .panel-title {
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}

.panel .panel-body{
    padding: 10px;
    overflow: hidden;
}


/*全局通用样式*/


/*隐藏*/

.hide {
    display: none;
}


/*超链样式*/

.link {
    color: #999;
    cursor: pointer;
    text-decoration: none;
}

.link:hover {
    color: #e80012;
}

.link-text {
    color: #999;
    text-decoration: none;
}


/*按钮*/

.btn {
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background: #c60023;
    font-size: 17px;
    font-weight: bold;
    color: #fff;
    /*outline这个属性是用来获取焦点的，一般是不去除的，在美感需要严格时考虑去除*/
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

.btn-mini {
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    padding: 0 20px;
}


/*加载样式*/

.loading {
    margin: 10px auto;
    display: block;
    height: 65px;
    width: 65px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background: url(../../image/icon/loading.gif) no-repeat;
    opacity: .6;
}
