/*
* @Author: xw
* @Date:   2017-06-16 13:22:45
* @Last Modified by:   xw
* @Last Modified time: 2017-06-20 17:03:42
*/


/*通用头部导航*/

.header .logo {
    position: absolute;
    display: block;
    left: 40px;
    top: 34px;
    font-size: 36px;
    color: #c60023;
    font-weight: bold;
    text-decoration:none;
}

.header .search-con {
    padding: 40px 0px 30px 250px;
}

.header .search-con .search-input {
    width: 550px;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    font-size: 15px;
    border: 2px solid #c60023;
    outline: none;
}

.header .search-con .search-btn {
    position: absolute;
    height: 44px;
    width: 80px;
}


/*面包屑导航*/

.crumb {
    height: 50px;
    line-height: 50px;
    background: #eee;
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
    border-top: 2px solid #c60023;
}
