/*
* @Author: xw
* @Date:   2017-06-16 17:51:53
* @Last Modified by:   xw
* @Last Modified time: 2017-06-16 19:42:17
*/

.nav-side {
    float: left;
    width: 130px;
    min-height: 100px;
}

.nav-side .nav-item {
    line-height: 25px;
    font-size: 13px;
}

.nav-side .nav-item .link{
	color: #888;
}

.nav-side .nav-item.active .link{
	color: #c60023;
	font-weight: bold;
}
.content.with-nav {
    float: left;
    width: 950px;
}
