/*
* @Author: xw
* @Date:   2017-06-22 20:48:19
* @Last Modified by:   xw
* @Last Modified time: 2017-06-22 23:00:34
*/

.banner {
    position: relative;
    overflow: auto;
}

.banner li {
    list-style: none;
}

.banner ul li {
    float: left;
}
